@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#preloader {
  border: 0.5rem solid transparent;
  border-radius: 50%;
  border-top: 0.5rem solid skyblue;
  width: 4rem;
  height: 4rem;
  animation: spin 750ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}


html,
body {
  height: 100%;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(165deg, #fff, #aaa);
  font-family: Poppins, monospace;
}

.bodyDark {
  background-image: linear-gradient(165deg, #555, #000);
  color: white;
}

body,
.nav {
  display: flex;
  align-items: center;
}
header{text-align: center;}
#root {
  height: 90%;
  justify-content: center;
  overflow: scroll;
  padding: 1rem;
  width: 90%;
}

.nav {
  height: 7%;
  background-image: linear-gradient(165deg, #6BF7, #2AF8);
  justify-content: space-around;
  border: 0.1rem solid #1E88E5;
  border-radius: 1rem;
  box-shadow: 0.15rem 0.3rem 0.3rem #04C3;
  position: sticky;
  top: 0.5%;
  margin-bottom: 3%;
  animation: slide 0.5s ease-in-out;
  width: 90%;
}

.button {
  color: #000;
  border: none;
  height: 2rem;
  width: 2rem;
  border: 0.1rem solid #fff2;
  border-radius: 0.5rem;
  background-color: #BDF9;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0.05rem 0.1rem 0.1rem #04C3;
}

.buttonDark {
  color: #fff;
  background-color: #6CF7;
  border-color: #0002;
}

.button:focus {
  transform: scale(1.1);
  background-color: #fffa;
}

.buttonDark:focus {
  background-color: #0007;
}

.drawer {
  display: none;
}


@media (orientation:landscape) {

  html,
  body {
    flex-direction: row;
  }

  .nav,
  #root {
    height: 90%;
  }

  .nav {
    width: 7%;
    flex-direction: column;
    left: 1%;
    margin-right: 2%;
  }

  #root {
    width: 90%;
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
}